<nav>
  <a href="/"><img src="../images/coffeefilter2.png" class="logo"  alt="coffee filter logo"></a>
  <ul>

    <li><a href="/allcoffees">All Coffees</a></li>
    <li><a href="/allroasters">All Roasters</a></li>
    <li><a href="/signup" class="signup">Sign Up</a></li>
  </ul>
</nav>

<h1>All Coffees</h1>

{{#each coffees}}
<div class = "coffee-results">
  <img src="{{this.imgPath}}" alt="{{this.name}} image">
  <div class = "coffee-description">
    <h2>{{this.name}}</h2>
    <p>{{this.description}}</p>
    <ul>
      <li>Strength: {{this.strength}}/5</li>
      <li>Acidity: {{this.acidity}}/5</li>
      <li>Flavors: {{#each tasteProfile}}{{this}} <span> </span>{{/each}}</li>
      <li>Origin: {{this.location}}</li>
    </ul>
  </div>
  <div class ="coffee-order">
    <h3>€<span> </span>{{this.price}}</h3>
    <button><a href="https://myuglybaby.myshopify.com/collections/frontpage/products/panama_geisha"> Add to Cart </a></button>
  </div>
</div>
{{/each}}