<nav>
  <a href="/"><img src="images/coffeefilter2.png" alt="coffee filter logo"></a>
  <ul>
    <li><a href="/allcoffees">All Coffees</a></li>
    <li><a href="/allroasters">All Roasters</a></li>
    <li><a href="/logout" class="signup">Logout</a></li>
  </ul>
</nav>

<h2>Welcome {{this.username}}!</h2>
<div class="dashboard">
  <div class="dashboard-left">
    <img src="{{this.imgPath}}" alt="{{this.brandname}}">
    <button><a href="/dashboard/edit">Edit Profile</a></button>
  </div>
  
  <div class="dashboard-right">
    <button class="coffee-add"><a href="/dashboard/add">Add Coffee</a></button>    
    {{#each coffees}}
      <div class="dashboard-coffees">
        <h3>{{this.name}}</h3>
        <div class="edit-delete-buttons">
          <a href="/dashboard/{{this._id}}/edit">Edit</a>
          <a href="/dashboard/{{this._id}}/delete" class="delete">Delete</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>

