<nav>
  <a href="/"><img src="../images/coffeefilter2.png" alt="coffee filter logo"></a>
  <ul>
    <li><a href="all-coffees">All Coffees</a></li>
    <li><a href="/all-roasters">All Roasters</a></li>
    <li><a href="/logout" class="signup">Logout</a></li>
  </ul>
</nav>

<h2>Welcome {{this.username}}</h2>
<div>
  <div>
    <img src="{{this.logo.imgPath}}" alt="{{this.brandname}} logo">
    <button><a href="/">Change Logo</a></button>
  </div>
  
  <div>
    <form action="/dashboard/edit" method="POST">

      <label for="brandname">Brandname</label>
      <input type="text" name="brandname" value="{{this.brandname}}" placeholder="add your brandname..."/>
      <label for="description">Description</label>
      <input type="text" name="description" value="{{this.description}}" placeholder="add your description..."/>
      <label for="location">Location</label>
      <input type="text" name="location" value="{{this.location}}" placeholder="add your location..."/>

      <button type="submit">Save</button>
    </form>
  </div>
</div>